# Tagger Evaluation


`Evaluates the tagger by getting the number of predicted pos tags vs. actual pos tags (F-score)`

In [8]:
import evaluator as te
from sklearn.metrics import f1_score, recall_score, precision_score
import pandas as pd

## News sentences (1200 tokens)

In [9]:
words = te.tag_test_sentences(test_all=False, specific='news-sentences.txt')

y_pred_1 = te.extract_predicted_pos_tags(words=words)
y_true_1 = te.extract_actual_pos_tags(test_all=False, specific='news-sentences.txt')
print(len(y_pred_1))
print(len(y_true_1))

1220
1220

In [10]:
tag_columns = ['ADJ', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'OTH', 'PART', 'PRON', 'SYM', 'VERB']
matrix = te.confusion_matrix(actual=y_true_1, pred=y_pred_1)
cm_df = pd.DataFrame(matrix,columns=tag_columns, index=tag_columns)
cm_df

      ADJ  ADV  CONJ  DET  NOUN  NUM  OTH  PART  PRON  SYM  VERB
ADJ    28   14     0    0     2    0    3     1     0    0     5
ADV     0   91     0    0     0    0    0     0     0    0     2
CONJ    0    0    51    0     0    0    0     0     0    0     1
DET     0    0    11   62     0    0    2     0     0    0     8
NOUN   16    0     1    0   215    0   47     1     0    0    36
NUM     0    0     0    0     1   36    0     0     0    0     1
OTH     0    0     0    0     0    0    0     0     0    0     0
PART    2    1     2    1     0    0    1   271    13    0    12
PRON    0    1     0    0     0    0    1     0    39    0    11
SYM     0    0     0    0     0    0    0     0     0   87     0
VERB    4    3     0    0    23    0   24     0     0    0    89

In [11]:
values_col = ['TP', 'FP', 'FN', 'TN']
values = te.cm_values(matrix=matrix)
values_df = pd.DataFrame(values,columns=values_col, index=tag_columns)
values_df

       TP  FP   FN    TN
ADJ    28  22   25  1145
ADV    91  19    2  1108
CONJ   51  14    1  1154
DET    62   1   21  1136
NOUN  215  26  101   878
NUM    36   0    2  1182
OTH     0  78    0  1142
PART  271   2   32   915
PRON   39  13   13  1155
SYM    87   0    0  1133
VERB   89  76   54  1001

In [12]:
recalls = recall_score(y_true=y_true_1, y_pred=y_pred_1, average=None)
precisions = precision_score(y_true=y_true_1, y_pred=y_pred_1, average=None)
fscores = f1_score(y_true=y_true_1, y_pred=y_pred_1, average=None)

recall_series = pd.Series(recalls, name='Recall', index=tag_columns, dtype=float)
precision_series = pd.Series(precisions, name='Precision', index=tag_columns, dtype=float)
fscore_series = pd.Series(fscores, name='F-Scores', index=tag_columns, dtype=float)

pd.concat([recall_series, precision_series, fscore_series], axis=1)

c:\users\ajrequina\envs\cebpostagger\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
c:\users\ajrequina\envs\cebpostagger\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

        Recall  Precision  F-Scores
ADJ   0.528302   0.560000  0.543689
ADV   0.978495   0.827273  0.896552
CONJ  0.980769   0.784615  0.871795
DET   0.746988   0.984127  0.849315
NOUN  0.680380   0.892116  0.771993
NUM   0.947368   1.000000  0.972973
OTH   0.000000   0.000000  0.000000
PART  0.894389   0.992674  0.940972
PRON  0.750000   0.750000  0.750000
SYM   1.000000   1.000000  1.000000
VERB  0.622378   0.539394  0.577922

In [13]:
recall = recall_score(y_true=y_true_1, y_pred=y_pred_1, average='weighted')
precision = precision_score(y_true=y_true_1, y_pred=y_pred_1, average='weighted')
fscore = f1_score(y_true=y_true_1, y_pred=y_pred_1, average='weighted')

pd.DataFrame([recall, precision, fscore], index=['Recall', 'Precision', 'F1 Score'], columns=['Overall'])

            Overall
Recall     0.794262
Precision  0.863050
F1 Score   0.821886

## Blog sentences (1045 tokens)

In [14]:
words = te.tag_test_sentences(test_all=False, specific='blog-sentences.txt')
y_true_2 = te.extract_actual_pos_tags(test_all=False, specific='blog-sentences.txt')
y_pred_2 = te.extract_predicted_pos_tags(words=words)
print(len(y_true_2))
print(len(y_pred_2))

1045
1045

In [15]:
tag_columns = ['ADJ', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'OTH', 'PART', 'PRON', 'SYM', 'VERB']
matrix = te.confusion_matrix(actual=y_true_2, pred=y_pred_2)
cm_df = pd.DataFrame(matrix,columns=tag_columns, index=tag_columns)
cm_df

      ADJ  ADV  CONJ  DET  NOUN  NUM  OTH  PART  PRON  SYM  VERB
ADJ    54   12     0    0     6    0    6     0     0    0     3
ADV     4   65     0    1     2    0    7     1     0    0     4
CONJ    0    0    54    0     0    0    0     0     0    0     0
DET     0    0    17   49     0    0    0     0     0    0     9
NOUN   13    9     0    0   106    7   36     0     0    0    40
NUM     0    0     0    0     0   16    0     0     0    0     0
OTH     0    0     0    0     0    0    0     0     0    0     0
PART    2    1     0    0     0    0    2   177    13    0     7
PRON    1    0     1    1     1    0    0     0    84    0     7
SYM     0    0     0    0     0    0    0     0     0   97     0
VERB   12    3     0    0    18    0   12     1     1    0    83

In [16]:
values_col = ['TP', 'FP', 'FN', 'TN']
values = te.cm_values(matrix=matrix)
values_df = pd.DataFrame(values,columns=values_col, index=tag_columns)
values_df

       TP  FP   FN    TN
ADJ    54  32   27   932
ADV    65  25   19   936
CONJ   54  18    0   973
DET    49   2   26   968
NOUN  106  27  105   807
NUM    16   7    0  1022
OTH     0  63    0   982
PART  177   2   25   841
PRON   84  14   11   936
SYM    97   0    0   948
VERB   83  70   47   845

In [17]:
recalls = recall_score(y_true=y_true_2, y_pred=y_pred_2, average=None)
precisions = precision_score(y_true=y_true_2, y_pred=y_pred_2, average=None)
fscores = f1_score(y_true=y_true_2, y_pred=y_pred_2, average=None)

recall_series = pd.Series(recalls, name='Recall', index=tag_columns, dtype=float)
precision_series = pd.Series(precisions, name='Precision', index=tag_columns, dtype=float)
fscore_series = pd.Series(fscores, name='F1 Score', index=tag_columns, dtype=float)

pd.concat([recall_series, precision_series, fscore_series], axis=1)

        Recall  Precision  F1 Score
ADJ   0.666667   0.627907  0.646707
ADV   0.773810   0.722222  0.747126
CONJ  1.000000   0.750000  0.857143
DET   0.653333   0.960784  0.777778
NOUN  0.502370   0.796992  0.616279
NUM   1.000000   0.695652  0.820513
OTH   0.000000   0.000000  0.000000
PART  0.876238   0.988827  0.929134
PRON  0.884211   0.857143  0.870466
SYM   1.000000   1.000000  1.000000
VERB  0.638462   0.542484  0.586572

In [18]:
recall = recall_score(y_true=y_true_2, y_pred=y_pred_2, average='weighted')
precision = precision_score(y_true=y_true_2, y_pred=y_pred_2, average='weighted')
fscore = f1_score(y_true=y_true_2, y_pred=y_pred_2, average='weighted')

pd.DataFrame([recall, precision, fscore], index=['Recall', 'Precision', 'F1 Score'], columns=['Overall'])

            Overall
Recall     0.751196
Precision  0.815384
F1 Score   0.771826

## Example sentences (300 tokens)

In [19]:
words = te.tag_test_sentences(test_all=False, specific='example-sentences.txt')
y_true_3 = te.extract_actual_pos_tags(test_all=False, specific='example-sentences.txt')
y_pred_3 = te.extract_predicted_pos_tags(words=words)

print(len(y_true_3))
print(len(y_pred_3))

300
300

In [20]:
tag_columns = ['ADJ', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'OTH', 'PART', 'PRON', 'SYM', 'VERB']
matrix = te.confusion_matrix(actual=y_true_3, pred=y_pred_3)
cm_df = pd.DataFrame(matrix,columns=tag_columns, index=tag_columns)
cm_df

      ADJ  ADV  CONJ  DET  NOUN  NUM  OTH  PART  PRON  SYM  VERB
ADJ     4    1     0    0     0    0    1     0     0    0     0
ADV     0    8     2    0     1    1    2     1     0    0     0
CONJ    0    0     7    0     0    0    0     0     0    0     0
DET     0    0     9   25     0    0    0     1     0    0     7
NOUN    3    0     0    0    51    0    6     0     2    0     5
NUM     0    0     0    0     0    3    0     0     0    0     0
OTH     0    0     0    0     0    0    0     0     0    0     0
PART    0    5     2    0     0    0    0    25     3    0     0
PRON    1    0     0    0     1    0    0     0    35    0     1
SYM     0    0     0    0     0    0    0     0     0   45     0
VERB    1    1     0    0     6    0    1     0     0    0    33

In [21]:
values_col = ['TP', 'FP', 'FN', 'TN']
values = te.cm_values(matrix=matrix)
values_df = pd.DataFrame(values,columns=values_col, index=tag_columns)
values_df

      TP  FP  FN   TN
ADJ    4   5   2  289
ADV    8   7   7  278
CONJ   7  13   0  280
DET   25   0  17  258
NOUN  51   8  16  225
NUM    3   1   0  296
OTH    0  10   0  290
PART  25   2  10  263
PRON  35   5   3  257
SYM   45   0   0  255
VERB  33  13   9  245

In [22]:
recalls = recall_score(y_true=y_true_3, y_pred=y_pred_3, average=None)
precisions = precision_score(y_true=y_true_3, y_pred=y_pred_3, average=None)
fscores = f1_score(y_true=y_true_3, y_pred=y_pred_3, average=None)

recall_series = pd.Series(recalls, name='Recall', index=tag_columns, dtype=float)
precision_series = pd.Series(precisions, name='Precision', index=tag_columns, dtype=float)
fscore_series = pd.Series(fscores, name='F1 Score', index=tag_columns, dtype=float)

pd.concat([recall_series, precision_series, fscore_series], axis=1)

        Recall  Precision  F1 Score
ADJ   0.666667   0.444444  0.533333
ADV   0.533333   0.533333  0.533333
CONJ  1.000000   0.350000  0.518519
DET   0.595238   1.000000  0.746269
NOUN  0.761194   0.864407  0.809524
NUM   1.000000   0.750000  0.857143
OTH   0.000000   0.000000  0.000000
PART  0.714286   0.925926  0.806452
PRON  0.921053   0.875000  0.897436
SYM   1.000000   1.000000  1.000000
VERB  0.785714   0.717391  0.750000

In [23]:
recall = recall_score(y_true=y_true_3, y_pred=y_pred_3, average='weighted')
precision = precision_score(y_true=y_true_3, y_pred=y_pred_3, average='weighted')
fscore = f1_score(y_true=y_true_3, y_pred=y_pred_3, average='weighted')

pd.DataFrame([recall, precision, fscore], index=['Recall', 'Precision', 'F1 Score'], columns=['Overall'])

            Overall
Recall     0.786667
Precision  0.853566
F1 Score   0.806036

## All Sentences (2565 tokens)

* News sentences
* Blog sentences
* Example sentences

In [24]:
words = te.tag_test_sentences()
y_true = te.extract_actual_pos_tags()
y_pred = te.extract_predicted_pos_tags(words=words)

In [25]:
tag_columns = ['ADJ', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'OTH', 'PART', 'PRON', 'SYM', 'VERB']
matrix = te.confusion_matrix(actual=y_true, pred=y_pred)
cm_df = pd.DataFrame(matrix,columns=tag_columns, index=tag_columns)
cm_df

      ADJ  ADV  CONJ  DET  NOUN  NUM  OTH  PART  PRON  SYM  VERB
ADJ    86   29     0    0     6    0   10     0     0    0     9
ADV     4  164     2    1     3    1    9     2     0    0     6
CONJ    0    0   112    0     0    0    0     0     0    0     1
DET     0    0    37  136     0    0    2     1     0    0    24
NOUN   32   15     1    0   368    7   89     0     2    0    80
NUM     0    0     0    0     1   55    0     0     0    0     1
OTH     0    0     0    0     0    0    0     0     0    0     0
PART    4    9     4    1     0    0    3   473    29    0    17
PRON    2    1     1    1     2    0    1     0   158    0    19
SYM     0    0     0    0     0    0    0     0     0  229     0
VERB   17   10     0    0    47    0   37     1     1    0   202

In [26]:
values_col = ['TP', 'FP', 'FN', 'TN']
values = te.cm_values(matrix=matrix)
values_df = pd.DataFrame(values,columns=values_col, index=tag_columns)
values_df

       TP   FP   FN    TN
ADJ    86   59   54  2366
ADV   164   64   28  2309
CONJ  112   45    1  2407
DET   136    3   64  2362
NOUN  368   59  226  1912
NUM    55    8    2  2500
OTH     0  151    0  2414
PART  473    4   67  2021
PRON  158   32   27  2348
SYM   229    0    0  2336
VERB  202  157  113  2093

In [27]:
recalls = recall_score(y_true=y_true, y_pred=y_pred, average=None)
precisions = precision_score(y_true=y_true, y_pred=y_pred, average=None)
fscores = f1_score(y_true=y_true, y_pred=y_pred, average=None)

recall_series = pd.Series(recalls, name='Recall', index=tag_columns, dtype=float)
precision_series = pd.Series(precisions, name='Precision', index=tag_columns, dtype=float)
fscore_series = pd.Series(fscores, name='F1 Score', index=tag_columns, dtype=float)

pd.concat([recall_series, precision_series, fscore_series], axis=1)

        Recall  Precision  F1 Score
ADJ   0.614286   0.593103  0.603509
ADV   0.854167   0.719298  0.780952
CONJ  0.991150   0.713376  0.829630
DET   0.680000   0.978417  0.802360
NOUN  0.619529   0.861827  0.720862
NUM   0.964912   0.873016  0.916667
OTH   0.000000   0.000000  0.000000
PART  0.875926   0.991614  0.930187
PRON  0.854054   0.831579  0.842667
SYM   1.000000   1.000000  1.000000
VERB  0.641270   0.562674  0.599407

In [28]:
recall = recall_score(y_true=y_true, y_pred=y_pred, average='weighted')
precision = precision_score(y_true=y_true, y_pred=y_pred, average='weighted')
fscore = f1_score(y_true=y_true, y_pred=y_pred, average='weighted')

pd.DataFrame([recall, precision, fscore], index=['Recall', 'Precision', 'F1 Score'], columns=['Overall'])

            Overall
Recall     0.773099
Precision  0.840030
F1 Score   0.797311